.all-area {
    background-image: linear-gradient(rgb(3 169 244 / 45%), #cfebf3e8), url(../../assets/goods.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.all-esist-area {
    background-image: linear-gradient(rgba(1, 39, 56, 0.45), #0b1011e8), url(../../assets/goods.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}